/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  background-image: url(/static/backgroundimg.jpg);
  background-position: 121px -46cm;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 300px;
  display: inline-block;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

nav ul {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #fff7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 24px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 20px;

}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 66px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
  
}

/* Registration Form Styles */

#register {
  max-width: 600px;
  margin: 40px auto;
}

#register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register label {
  width: 100%;
  margin-bottom: 10px;
}

#register input[type="text"],
#register input[type="date"],
#register select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.btn-algolia {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: 
rgba(45, 35, 66, .4) 0 2px 4px,
rgba(45, 35, 66, .3) 0 7px 13px -3px,
rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: 
#fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn-algolia:focus {
  box-shadow: 
#3c4fe0 0 0 0 1.5px inset, 
rgba(45, 35, 66, .4) 0 2px 4px, 
rgba(45, 35, 66, .3) 0 7px 13px -3px, 
#3c4fe0 0 -3px 0 inset;
}

.btn-algolia:hover {
  box-shadow: 
rgba(45, 35, 66, .4) 0 4px 8px, 
rgba(45, 35, 66, .3) 0 7px 13px -3px, 
#3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-algolia:active {
  box-shadow: 
#3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

