<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='{% url "Home" %}'>Home</a></li>
                <li><a href='{% url "about" %}'>About</a></li>
                <li><a href='{% url "service" %}'>Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h1>About Us</h1>
            <p>This is the about section of my website.</p>
            <div class="card">
                <div>
                  <h2>Expert Technicians</h2>
                </div>
                <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2024 My Website</p>
    </footer>
</body>
</html>