<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quiz.html">
    <link rel="stylesheet" href="quizaboutus.html">
    <link rel="stylesheet" href="quizaboutquiz.css">
    <title>about quiz</title>
</head>
<body>
    <style>
        body {
            background-image: url(/backgroundimg.jpg);
            background-size: cover;
        }
    </style>
    <div id="heading">
        <h1>Hami-e-Islam
            <label id="float_text" for="text"> Islamic Quiz competition Organized by Anjuman Hami-e-Islam.</label>
        <a id="link00" href="/quiz.html">register</a>
        <a id="link01" href="/quizaboutus.html">about us</a>
        <a id="link02" href="/quizaboutquiz.html">about Quiz</a>
        <a id="link03" href="https://www.acetacademic.com">ACET academic</a>
        </h1>
    </div>
</body>
</html>