<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/quiz.css">
    <link rel="stylesheet" href="quizaboutus.html">
    <link rel="stylesheet" href="quizaboutquiz.html">
    <title>Document</title>
</head>
<body>
    
    <header></header>
    <main>
        <style>
            body{
                background-image: url(/static/backgroundimg.jpg);
                background-size: cover;
                background-position: center;
            }
        </style>
        <div id="heading">
            <h1>Hami-e-Islam
                <label id="float_text" for="text">
                     Islamic Quiz competition Organized by Anjuman Hami-e-Islam.
                </label>
            <a id="link00" href="/quiz.html">register</a>
            <a id="link01" href="/quizaboutus.html">about us</a>
            <a id="link02" href="/quizaboutquiz.html">about Quiz</a>
            <a id="link03" href="https://www.acetacademic.com">ACET academic</a>
            </h1>
        </div>
        <div id="register">
            <select name="college" id="college_name">
                <option value="">Select a college</option>
                <option value="Anjuman Engg & tech">Anjuman college of engg & tech ,Sadar Nagpur</option>
                <option value="poly">Anjuman polytechnic,Sadar Nagpur</option>
                <option value="Anjuman_junior">Anjuman junior college,Sadar Nagpur</option>
                <option value="girls_degree">Anjuman girls' degree college of arts,Sadar Nagpur</option>
            </select><br>
            <input class="user_info" id="member_name1" type="text" placeholder="Enter team member's name"><br>
            <input class="user_info" id="member_name2" type="text" placeholder="Enter team member's name"><br>
            <input class="user_info" id="member_name3" type="text" placeholder="Enter team member's name"> <br>
            <input class="user_info" id="Phone no" type="text" placeholder="Enter Phone number" ><br>
            <input class="user_info" type="text" placeholder="Enter email" id="email">
        </div>
        <button id="submit" type="button">Submit</button>
    </main>
    <footer></footer>
</body>
</html>