<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='{% url "Home" %}'>Home</a></li>
                <li><a href='{% url "about" %}'>About</a></li>
                <li><a href='{% url "service" %}'>Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="services">
            <h1>Services</h1>
            <ul>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Copyright © 2024 My Website</p>
    </footer>
</body>
</html>